.chosen-container {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  font-size: 13px;
  user-select: none;
}

.chosen-container * {
  box-sizing: border-box;
}

.chosen-container .chosen-drop {
  position: absolute;
  top: 100%;
  z-index: 1010;
  width: 100%;
  border-width: 0px 1px 1px;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-right-color: rgb(170, 170, 170);
  border-bottom-color: rgb(170, 170, 170);
  border-left-color: rgb(170, 170, 170);
  border-image: initial;
  border-top-style: initial;
  border-top-color: initial;
  background: rgb(255, 255, 255);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 4px 5px;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(100%);
}

.chosen-container.chosen-with-drop .chosen-drop {
  clip: auto;
  clip-path: none;
}

.chosen-container a {
  cursor: pointer;
}

.chosen-container .search-choice .group-name,
.chosen-container .chosen-single .group-name {
  margin-right: 4px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-weight: normal;
  color: rgb(153, 153, 153);
}

.chosen-container .search-choice .group-name::after,
.chosen-container .chosen-single .group-name::after {
  content: ":";
  padding-left: 2px;
  vertical-align: top;
}

.chosen-container-single .chosen-single {
  position: relative;
  display: block;
  height: 45px;
  border: 1px solid rgb(197 197 197);
  border-radius: 10px;
  color: rgb(68, 68, 68);
  text-decoration: none;
  white-space: nowrap;
  line-height: 43px;
  font-size: 16px;
}

.chosen-container-single .chosen-default {
  color: rgb(153, 153, 153);
}

.chosen-container-single .chosen-single span {
  display: block;
  overflow: hidden;
  margin-right: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.chosen-container-single .chosen-single-with-deselect span {
  margin-right: 38px;
}

.chosen-container-single .chosen-single abbr {
  position: absolute;
  top: 6px;
  right: 26px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

.chosen-container-single .chosen-single abbr:hover {
  background-position: -42px -10px;
}

.chosen-container-single.chosen-disabled .chosen-single abbr:hover {
  background-position: -42px -10px;
}

.chosen-container-single .chosen-single div {
  position: absolute;
  top: 0px;
  right: 0px;
  display: block;
  width: 18px;
  height: 100%;
}

.chosen-container-single .chosen-single div b {
  display: block;
  width: 100%;
  height: 100%;
  background: url("chosen-sprite.png") 0px 2px no-repeat;
}

.chosen-container-single .chosen-search {
  position: relative;
  z-index: 1010;
  margin: 0px;
  padding: 3px 4px;
  white-space: nowrap;
}

.chosen-container-single .chosen-search input[type="text"] {
  margin: 1px 0px;
  padding: 4px 20px 4px 5px;
  width: 100%;
  height: auto;
  outline: 0px;
  border: 1px solid rgb(170, 170, 170);
  background: url("chosen-sprite.png") 100% -20px no-repeat;
  font-size: 1em;
  line-height: normal;
  border-radius: 5px;
}

.chosen-container-single .chosen-drop {
  margin-top: -1px;
  border-radius: 0px 0px 4px 4px;
  background-clip: padding-box;
}

.chosen-container-single.chosen-container-single-nosearch .chosen-search {
  position: absolute;
  clip: rect(0px, 0px, 0px, 0px);
  clip-path: inset(100%);
}

.chosen-container .chosen-results {
  color: rgb(68, 68, 68);
  position: relative;
  overflow: hidden auto;
  margin: 0px 4px 4px 0px;
  padding: 0px 0px 0px 4px;
  max-height: 240px;
}

.chosen-container .chosen-results li {
  display: none;
  margin: 0px;
  padding: 5px 6px;
  list-style: none;
  line-height: 15px;
  overflow-wrap: break-word;
  font-size: 16px;
}

.chosen-container .chosen-results li.active-result {
  display: list-item;
  cursor: pointer;
}

.chosen-container .chosen-results li.disabled-result {
  display: list-item;
  color: rgb(204, 204, 204);
  cursor: default;
}

.chosen-container .chosen-results li.highlighted {
  background-color: rgb(56, 117, 215);
  background-image: linear-gradient(rgb(56, 117, 215) 20%, rgb(42, 98, 188) 90%);
  color: rgb(255, 255, 255);
}

.chosen-container .chosen-results li.no-results {
  color: rgb(119, 119, 119);
  display: list-item;
  background: rgb(244, 244, 244);
}

.chosen-container .chosen-results li.group-result {
  display: list-item;
  font-weight: bold;
  cursor: default;
}

.chosen-container .chosen-results li.group-option {
  padding-left: 15px;
}

.chosen-container .chosen-results li em {
  font-style: normal;
  text-decoration: underline;
}

.chosen-container-multi .chosen-choices {
  position: relative;
  overflow: hidden;
  height: 45px;
  line-height: 30px;
  background: rgb(255, 255, 255);
  border: 1px solid rgb(197, 197, 197);
  font-size: 16px;
  color: rgb(34, 34, 34);
  border-radius: 10px;
  box-shadow: none;
  padding: 0.375rem 0.75rem;
  margin-bottom: 3px;
}

.chosen-container-multi .chosen-choices li {
  float: left;
  list-style: none;
}

.chosen-container-multi .chosen-choices li.search-field {
  margin: 0px;
  padding: 0px;
  white-space: nowrap;
}

.chosen-container-multi .chosen-choices li.search-field input[type="text"] {
  margin: 1px 0px;
  padding: 0px;
  height: 25px;
  outline: 0px;
  box-shadow: none;
  color: rgb(153, 153, 153);
  font-size: 100%;
  line-height: normal;
  border-radius: 0px;
  width: 25px;
  border: 0px !important;
  background: transparent !important;
}

.chosen-container-multi .chosen-choices li.search-choice {
  position: relative;
  margin: 3px 5px 3px 0px;
  padding: 3px 20px 3px 5px;
  border: 1px solid rgb(170, 170, 170);
  max-width: 100%;
  border-radius: 3px;
  background-color: rgb(238, 238, 238);
  background-image: linear-gradient(rgb(244, 244, 244) 20%, rgb(240, 240, 240) 50%, rgb(232, 232, 232) 52%, rgb(238, 238, 238) 100%);
  background-size: 100% 19px;
  background-repeat: repeat-x;
  background-clip: padding-box;
  box-shadow: rgb(255, 255, 255) 0px 0px 2px inset, rgba(0, 0, 0, 0.05) 0px 1px 0px;
  color: rgb(51, 51, 51);
  line-height: 13px;
  cursor: default;
}

.chosen-container-multi .chosen-choices li.search-choice span {
  overflow-wrap: break-word;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close {
  position: absolute;
  top: 4px;
  right: 3px;
  display: block;
  width: 12px;
  height: 12px;
  background: url("chosen-sprite.png") -42px 1px no-repeat;
  font-size: 1px;
}

.chosen-container-multi .chosen-choices li.search-choice .search-choice-close:hover {
  background-position: -42px -10px;
}

.chosen-container-multi .chosen-choices li.search-choice-disabled {
  padding-right: 5px;
  border: 1px solid rgb(204, 204, 204);
  background-color: rgb(228, 228, 228);
  background-image: linear-gradient(rgb(244, 244, 244) 20%, rgb(240, 240, 240) 50%, rgb(232, 232, 232) 52%, rgb(238, 238, 238) 100%);
  color: rgb(102, 102, 102);
}

.chosen-container-multi .chosen-choices li.search-choice-focus {
  background: rgb(212, 212, 212);
}

.chosen-container-multi .chosen-choices li.search-choice-focus .search-choice-close {
  background-position: -42px -10px;
}

.chosen-container-multi .chosen-results {
  margin: 0px;
  padding: 0px;
}

.chosen-container-multi .chosen-drop .result-selected {
  display: list-item;
  color: rgb(204, 204, 204);
  cursor: default;
}

.chosen-container-active .chosen-single {
  border: 1px solid rgb(88, 151, 251);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
}

.chosen-container-active.chosen-with-drop .chosen-single {
  border: 1px solid rgb(170, 170, 170);
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
  background-image: linear-gradient(rgb(238, 238, 238) 20%, rgb(255, 255, 255) 80%);
  box-shadow: rgb(255, 255, 255) 0px 1px 0px inset;
}

.chosen-container-active.chosen-with-drop .chosen-single div {
  border-left: none;
  background: transparent;
}

.chosen-container-active.chosen-with-drop .chosen-single div b {
  background-position: -18px 2px;
}

.chosen-container-active .chosen-choices {
  border: 1px solid rgb(88, 151, 251);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 0px 5px;
}

.chosen-container-active .chosen-choices li.search-field input[type="text"] {
  color: rgb(34, 34, 34) !important;
}

.chosen-disabled {
  cursor: default;
  opacity: 0.5 !important;
}

.chosen-disabled .chosen-single {
  cursor: default;
}

.chosen-disabled .chosen-choices .search-choice .search-choice-close {
  cursor: default;
}

.chosen-rtl {
  text-align: right;
}

.chosen-rtl .chosen-single {
  overflow: visible;
  padding: 0px 8px 0px 0px;
}

.chosen-rtl .chosen-single span {
  margin-right: 0px;
  margin-left: 26px;
  direction: rtl;
}

.chosen-rtl .chosen-single-with-deselect span {
  margin-left: 38px;
}

.chosen-rtl .chosen-single div {
  right: auto;
  left: 3px;
}

.chosen-rtl .chosen-single abbr {
  right: auto;
  left: 26px;
}

.chosen-rtl .chosen-choices li {
  float: right;
}

.chosen-rtl .chosen-choices li.search-field input[type="text"] {
  direction: rtl;
}

.chosen-rtl .chosen-choices li.search-choice {
  margin: 3px 0px 3px 5px;
  padding: 3px 5px 3px 19px;
}

.chosen-rtl .chosen-choices li.search-choice .search-choice-close {
  right: auto;
  left: 4px;
}

.chosen-rtl.chosen-container-single .chosen-results {
  margin: 0px 0px 4px 4px;
  padding: 0px 4px 0px 0px;
}

.chosen-rtl .chosen-results li.group-option {
  padding-right: 15px;
  padding-left: 0px;
}

.chosen-rtl.chosen-container-active.chosen-with-drop .chosen-single div {
  border-right: none;
}

.chosen-rtl .chosen-search input[type="text"] {
  padding: 4px 5px 4px 20px;
  background: url("chosen-sprite.png") -30px -20px no-repeat;
  direction: rtl;
}

.chosen-rtl.chosen-container-single .chosen-single div b {
  background-position: 6px 12px;
}

.chosen-rtl.chosen-container-single.chosen-with-drop .chosen-single div b {
  background-position: -12px 12px;
}

@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
only screen and (min-resolution: 144dpi),
only screen and (min-resolution: 1.5dppx) {

  .chosen-rtl .chosen-search input[type="text"],
  .chosen-container-single .chosen-single abbr,
  .chosen-container-single .chosen-single div b,
  .chosen-container-single .chosen-search input[type="text"],
  .chosen-container-multi .chosen-choices .search-choice .search-choice-close,
  .chosen-container .chosen-results-scroll-down span,
  .chosen-container .chosen-results-scroll-up span {
    background-image: url("chosen-sprite@2x.png") !important;
    background-size: 52px 37px !important;
    background-repeat: no-repeat !important;
  }
}